<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container justify-center">
    <div class="flex-item">
        <h1 class="text-center">Welcome Taco Cloud App</h1>
        <img class="rounded mx-auto d-block" th:src="@{/images/TacoCloud.png}" height="300px" width="400px"/>
    </div>
</div>
</body>
</html>