<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <img th:src="@{/images/TacoCloud.png}" />
        <form method="POST" th:action="@{/signup}" id="signUpForm" th:object="${signUpForm}">
            <div class="form-group">
                <label for="username">Name: </label>
                <input type="text" class="form-control" th:field="*{username}" />
                <div th:if="${#fields.hasErrors('username')}">
                    <span class="text-danger" th:errors="*{username}"></span>
                </div>
            </div>
            <!-- <label for="username">Username: </label>
        <input type="text" name="username" /><br /> -->
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control" th:field="*{password}" />
            </div>
            <!-- <label for="password">Password: </label>
        <input type="password" name="password" /><br /> -->
            <div class="form-group">
                <label for="confirm">Confirm password: </label>
                <input type="password" class="form-control" name="confirm" />
            </div>
            <!-- <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm" /><br /> -->
            <div class="form-group">
                <label for="fullName">Full name: </label>
                <input type="text" class="form-control" th:field="*{fullName}" />
            </div>
            <!-- <label for="fullname">Full name: </label>
        <input type="text" name="fullname" /><br /> -->
            <div class="form-group">
                <label for="street">Street: </label>
                <input type="text" class="form-control" th:field="*{street}" />
            </div>
            <!-- <label for="street">Street: </label>
        <input type="text" name="street" /><br /> -->
            <div class="form-group">
                <label for="city">City: </label>
                <input type="text" class="form-control" th:field="*{city}" />
            </div>
            <!-- <label for="city">City: </label>
        <input type="text" name="city" /><br /> -->
            <div class="form-group">
                <label for="state">State: </label>
                <input type="text" class="form-control" th:field="*{state}" />
            </div>
            <!-- <label for="state">State: </label>
        <input type="text" name="state" /><br /> -->
            <div class="form-group">
                <label for="zip">Zip: </label>
                <input type="text" class="form-control" th:field="*{zip}" />
            </div>
            <!-- <label for="zip">Zip: </label>
        <input type="text" name="zip" /><br /> -->
            <div class="form-group">
                <label for="phoneNumber">Phone: </label>
                <input type="text" class="form-control" th:field="*{phoneNumber}" />
            </div>
            <!-- <label for="phone">Phone: </label>
        <input type="text" name="phone" /><br /> -->
            <input type="submit" class="btn btn-primary mb-2" value="SignUp" />
        </form>
    </div>
</body>

</html>